body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
background-color: #000;
    
}
.div-1{
    margin-top: 50px;
    text-align: center;
    background-color: aqua;
    width: 384px;
    border-radius: 10px;
background-color: #1F1F1F;
img{
    width: 120pxpx;
    height: 88px;
    border-radius: 50px;
}
}
.div-2{
    margin-top: 40px;
    h1{
font-size: 24px;
font-weight: 600;
color: aliceblue;
    }
    p{
font-size: 14px;
font-weight: 700;
color: #C4F82A;
    }
}
.div-3{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px ;
    margin-bottom: 40px;
    p{
        font-size: 14px;
        font-weight: 400;
        color: aliceblue;
    }
    button{
        border-radius: 10px;
        background-color: #333333;
        border: 0;
font-size: 14px;
font-weight: 700;
line-height: 21px;
// width: 304px;
width: 80%;
height: 45px;
transition: all .5s ease;
a{
    text-decoration: none;
    color: #fff;
}
    }
    button:hover{
        background-color: #C4F82A;
font-weight: 700;

        a{
            color: #333333;
        }
    }
}
